@charset "UTF-8";

/* reset */ 
:root {
    --color-white: #fff;
    --color-black: #000;
    --color-font: #1d1d1d;

    --color-brown: #cf9d70;
    --color-font-btnBg: #f7f8fa;
    --color-footer: #292929;

    --color-darkgray: #6e6e6e;
    --color-lightgray: #f8f8f8;

    /* --color-font-middlegray: #b7b7b7;
    --color-link: #0071e3;
    --color-link-focus: #81b9f1;
    --color-border: #d2d2d2;
    --color-section: #f5f5f5;
    --color-shadow: rgba(0, 0, 0, .4); */
  }
html {font-size: 10px;}
body {
    overflow-x: hidden;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: -0.025em;
	word-break: keep-all;
	word-wrap: break-word;
}
/* body.fixed {position: fixed;overflow-y: scroll;width: 100vw;height: 100vh;} */
body, a, button {color: var(--color-font);}

html, body, article, aside, footer, header, nav, section, h1, h2, h3, h4, h5, h6, p, div, blockquote, pre, abbr, a, span, img, em, strong, sub, sup, var, address, button, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption, audio, video {margin: 0;padding: 0;border: 0;box-sizing: border-box;}
dl, ol, ul, li {list-style: none;}
p {line-height: 1.5;}
a {font-family: "Noto Sans KR", sans-serif;display: block;text-decoration: none;}
img {display: block;border: 0;user-select: none;-webkit-user-drag: none;}
button {font-family: "Noto Sans KR", sans-serif;outline: 0;border: 0;background-color: transparent;}
button:hover {cursor: pointer;}
input {border: 0;box-sizing: border-box;}
input:focus {outline: none;}